body{
    background-color: aquamarine;
}
form {
    color:darkslategray;
    font-size: 18px ;
    background-color: bisque;
}
input {
    background-color: antiquewhite;
}
textarea {
    background-color: antiquewhite;
}
button {
    background-color:cornflowerblue;
}
legend {
    color:red;
    font-size: 24px;
    margin:auto;
}
.custom-label {
    color: blueviolet;
    font-size: 18px;
}